<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whiteboard app</title>
</head>
<body>
<canvas id="canvas" width="740" height="400" style="border:1px solid"></canvas>
<script defer src="/socket.io/socket.io.js" ></script>
<script defer src="./script2.js"></script>
</body>
</html>