body {
  margin: 0;
  background-color: #202124;
}

#video-grid {
  display: flex;
  justify-content: center;
}

video {
  width: 400px;
  height: 300px;
  object-fit: cover;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.main {
  display: flex;
  height: 100vh;
}

.main__left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main__right {
  display: flex;
  margin: 0.9cm;
  padding: 0.4cm;
  border-radius: 0.3cm;
  flex: 0.2;
  flex-direction: column;
  background-color: white;
}

.main__videos {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background: #202124;
}

.main__controls {
  display: flex;
  justify-content: space-between;
  background-color: #202124;
  color: #d2d2d2;
}

.main__controls__block {
  display: flex;
  color: #d2d2d2;
  align-items: center;
  justify-content:center;
  /* background-color: #202124; */
}

.main__controls__button {
  background-color: #3C4043;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10cm;
  margin: 5px;
  padding: 12px;
  /* min-width: 80px; */
  cursor: pointer;
}

.main__controls__button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.main__controls__button i {
  font-size: 24px;
}

.leave-meeting {
  color: #eb534b;
}

.main__whiteboard {
  color: #d2d2d2;
}

.main__whiteboard:hover {
  background-color: #343434;
  border-radius: 5px;
  color: #d2d2d2;
  text-decoration: none;
}

.main__header {
  padding-top: 5px;
  color: black;
  background-color: white;
  text-align: center;
}

.main__chat__window {
  flex-grow: 1;
  /* color: #f5f5f5; */
  overflow-y: scroll;
  color: black;
  background-color: white;
}

.main__message__container {
  padding: 0px 8px;
  border-radius: 10cm;
  display: flex;
  color: white;
  background-color: #F1F3F4;
}


.main__message__container input {
  flex-grow: 1;
  background-color: transparent;
  font-size: 14px;
  margin: 10px 0px;
  padding: 0px 16px;
  border: none;
  outline: none;

  color: black;
}

.unmute,
.stop {
  color: #cc3b33;
}
p{
  margin-bottom: 0;
}
li {
  list-style: none;
  color: #202124;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 5px;
  width: 7.2cm;
  max-width: 7.2cm;
  overflow-x:hidden;
  white-space: initial;
  word-wrap: break-word;

  
}
.main__send__message {
  color: #1da1f2;
  background: transparent;
  border: 0px;
}

.main__welcome {
  padding: 5%;
}

.main__meeting {
  display: flex;
  justify-content: space-between;
}

.new__meeting {
  padding: 20px;
  font-size: 24px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 0.5cm;
  /* background-color: pink; */
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


.material-symbols-outlined {
  /* font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal; */
  font-size: 20px;  /* Preferred icon size */
  /* display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; */

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}