.main {
  margin: 0;
  background-color: #202124;
}

#video-grid {
  display: flex;
  justify-content: center;
}

video {
  width: 400px;
  height: 300px;
  object-fit: cover;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.main {
  display: flex;
  height: 100vh;
}

.main__left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main__right {
  display: flex;
  margin: 0.9cm;
  padding: 0.4cm;
  border-radius: 0.3cm;
  flex: 0.2;
  flex-direction: column;
  background-color: white;
}

.main__videos {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background: #202124;
}

.main__controls {
  display: flex;
  justify-content: space-between;
  background-color: #202124;
  color: #d2d2d2;
}

.main__controls__block {
  display: flex;
  color: #d2d2d2;
  align-items: center;
  justify-content: center;
  /* background-color: #202124; */
}

.main__controls__button {
  background-color: #3c4043;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10cm;
  margin: 5px;
  padding: 12px;
  /* min-width: 80px; */
  cursor: pointer;
}

.main__controls__button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.main__controls__button i {
  font-size: 24px;
}

.leave-meeting {
  color: #eb534b;
}

.main__whiteboard {
  color: #d2d2d2;
}

.main__whiteboard:hover {
  background-color: #343434;
  border-radius: 5px;
  color: #d2d2d2;
  text-decoration: none;
}

.main__header {
  padding-top: 5px;
  color: black;
  background-color: white;
  text-align: center;
}

.main__chat__window {
  flex-grow: 1;
  /* color: #f5f5f5; */
  overflow-y: scroll;
  color: black;
  background-color: white;
}

.main__message__container {
  padding: 0px 8px;
  border-radius: 10cm;
  display: flex;
  color: white;
  background-color: #f1f3f4;
}

.main__message__container input {
  flex-grow: 1;
  background-color: transparent;
  font-size: 14px;
  margin: 10px 0px;
  padding: 0px 16px;
  border: none;
  outline: none;

  color: black;
}

.unmute,
.stop {
  color: #cc3b33;
}
p {
  margin-bottom: 0;
}
li {
  list-style: none;
  color: #202124;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 5px;
  width: 7.2cm;
  max-width: 7.2cm;
  overflow-x: hidden;
  white-space: initial;
  word-wrap: break-word;
}
.main__send__message {
  color: #1da1f2;
  background: transparent;
  border: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 0.5cm;
  /* background-color: pink; */
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 20px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-symbols-outlined {
  /* font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal; */
  font-size: 20px; /* Preferred icon size */
  /* display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; */

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.container {
  position: relative;
}
.container video {
  position: relative;
  z-index: 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* home view styles */

.main__home {
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.main__home__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__welcome {
  max-width: 50%;
  padding: 24px;
  flex: 0.7;
}

.main__welcome h1 {
  font-size: 4rem;
  color: #030303;
  filter: drop-shadow(0.5px 0.5px Gray);
}
.main__home__image img {
  flex: 0.3;
  width: 500px;
  height: auto;
  border-radius: 6px;
  filter: drop-shadow(2px 4px 6px gray);
}

.main__body {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  width: 100%;
}

.main__about__text {
  margin-left: 8%;
  margin-bottom: 20px;
}

.main__about__text h2 {
  font-weight: 400;
  font-size: 2.5rem;
}
.main__meeting {
  margin-top: 20px;
  margin-left: 8%;
  display: flex;
  justify-content: flex-start;
  max-width: 450px;
}

.main__meeting i {
  padding: 0 6px 0 0;
}

.new__meeting__button {
  font-size: 16px;
  background-color: rgb(26, 115, 232);
  color: white;
  padding: 6px 8px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
}

.new__meeting__button:hover {
  font-size: 16px;
  background-color: #134eac;
  color: white;
  padding: 6px 8px;
  cursor: pointer;
  font-weight: 800;
  filter: drop-shadow(2px 3px 4px lightgray);
}

.link__meeting {
  font-size: 16px;
}
.input__icon {
  margin-left: 15px;
  width: 100%;
}
.input__icon i {
  padding: 10px;
  min-width: 20px;
}

.input__link {
  width: 80%;
  padding: 5px;
  text-align: center;
}

.join__button {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  color: lightgray;
  font-weight: 600;
}

.join__button:hover {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  color: rgb(26, 115, 232);
  font-weight: 600;
}
